<!DOCTYPE html>
{% extends "bootstrap/base.html" %}

<!------------------------------------------------------------------------------------------>
<!------------------------------      Nav bar start        --------------------------------->
<!------------------------------------------------------------------------------------------>
<style>
  body {
    background-image: url("/static/back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>
{% block navbar %} {{nav.top.render()}}
<body
  style="
    background-image: url('/static/back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  "
>
  <center>
    <div class="di">
      <h3>Welcome to Stolen Vehicle Management</h3>
      <p>
        Navigation bar gives you the features to extract <br />number plate and
        find the stolen vehicle
      </p>
      <p>Find Tab : To display stolen vehicle detail</p>
      <p>Register Tab: To register Stolen Vehicles</p>
    </div>
  </center>
</body>
{% endblock %}

<!------------------------------------------------------------------------------------------>
<!------------------------------       Nav bar end         --------------------------------->
<!------------------------------------------------------------------------------------------>
